body {
    background-color: rgba(255, 0, 0, 0.4);
    font-family: 'Abel', sans-serif;
}

.clima {
    padding-left: 1%;
    width: 8%;
}

.natureza {
    padding-left: 82%;
    width: 8%;
}

h1 {
    text-align: center;
    margin: 20px;
    font-size: 2em;
    font-weight: bold;
}

.escolha {
    position: absolute;
    top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

nav li {
    display: inline;
    font-size: 1.2em;
    padding-left: 10px;
}

nav a {
    color:blue;
}

nav a:hover {
    color:red;
}


