body {
    background-color: rgba(0, 255, 0, 0.4);
    font-family: 'Abel', sans-serif;
    padding: 120px 0 0 0;
}

.texto {
    font-size: 2em;
    margin: 20px;
    line-height: 1.5em;
    padding: 20px;
    text-indent: 50px;
}

b {
    font-weight: bold;
}

i {
    font-style: italic;
    color:blue;
}